*{
    margin: 0px;
    padding: 0px;
}
.table_main
{
    border: 1px solid black;
    border-collapse:collapse;
    margin: 10px;
}
.tr_main >th
{
    background-color: #798080;
    text-align: left;
    color:white;
}
.status{
    display: inline;
    margin: 20px;
    padding: 0px;
    line-height: 40px;
    text-align: center;
}

#ul_search{
    margin:5px;
    padding: 5px;

}

#ul_operation{
    margin:5px;
    padding: 0px;

}

#ul_status{
    margin:5px;
    padding: 0px;

}

#input_goto{
    width: 20px;
}

.input_search{
    width: 100px;
}

#input_search_key{
    width: 120px;
}

div{
    border: 1px solid #666367;
    margin: -1px;
}

#div_bg{
    margin: 0px;
    padding: 0px;
    #background-color: #6f6f6f;
    background-color: transparent;
    height: 1000px;
}
/* 右侧操作面板 */
#div_operate_panel{
    width: 580px;
    height: 670px;
    border: 1px solid red;
    float: left;
    margin-left: 10px;
}

.div_bar1{
    height: 40px;
}

#table_operate {
    border: 0;
    margin: 10px;
    border-spacing: 30px 30px
}
.div_bar2{
    border: 0;
}
#div_table{
    float: left;
    height: 670px;
    width: 810px;
    overflow: auto;
}
.rowSelected{
    background-color: red;
}

.input_desc_red{
    color: red;
}
.input_desc_green{
    color: green;
}